body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 800;
    overflow-x: hidden;
  }
  .main{
      background-color: aliceblue, #485;
      width:auto 10px;
  }
  .h3 ul{
      font-display: 5px;
      color: black;

  }
  .p link{
      
  }


